# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
*.class
*.log
*.iml
*.lock
*.bin
*.css
*.prefs
*.xml
/.idea/
/bin/
/out/
.idea/gradle.xml
.idea/workspace.xml

.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin

GrinderScape/cache.zip
GrinderScape/game_client.jar
GrinderScape/GrinderScape_World2_V1.644.jar

ChangeLog.txt
ZKM_log.txt

src/main/java/com/grinder/Configuration.java
src/main/java/com/grinder/cache/packer/

grinder-client.main_jar.jar

GrinderScape/GrinderScape.jar
GrinderScape/GrinderScape_W2_V6.54.jar
.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
